{% if product.tags contains 'custom' or  '/collections/custom-womens-clothing/products/unisex-high-top-canvas-shoes' contains  product.url %}<div><div class='uploader-0 uploader-wrap filenotuploaded' >
              <input type='text' name='properties[upload-1]' class='uploadpathfield ' value='' style='display:none;'>
              <label id='label-main'><strong id ='label-text'>Upload</strong><div class='uploader-section' style='background-color : #557b97 ; color : #ffffff ; height : 40px; width : 390px; margin : 4px; padding : 5px;  '>
              <img src='https://ssevenn.com/uploadit/icons/upload.png' alt=''>
              <input type='file' name='file0' class='file-selector' accept=' ' style='display:none;'>
              <span class='upload-text' style='font-size: : 20px;' >Upload File</span>
              </div>
              </label>            
              </div></div> {% endif %} <div id='progress-wrp-uploadit'>
    <div class='progress-bar-uplodit'></div >
    <div class='status'>0%</div>
    </div>